header {
    text-align: center;
    font-size: 3rem;
}

#navMenu {
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid black;
    width: 10vw;
    height: 90vh;
    background-color: black;
}

#navMenu div {
    padding-top: 30px;
    color: white;
    width: 95%;
    padding-left: 10px;
}

#navMenu div:hover {
    cursor: pointer;
    background-color: blue;
}

#completeDataBox {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -700px;
    border-radius: 10px;
}

.completeData {
    width: 400px;
    height: 200px;
    background: skyblue;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
}

#completeDataWithChartBox {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    margin-left: -700px;
    border-radius: 10px;
}

.completeDataWithChart {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    margin: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 9px;
}
